
/* Copyright (c) 2021, The Tor Project, Inc. */

@import url("chrome://browser/skin/error-pages.css");
@import url("chrome://branding/content/tor-styles.css");

:root {
  --onion-opacity: 1;
  --onion-color: var(--card-outline-color);
  --onion-radius: 75px;
}

/* override firefox's default blue focus coloring */
:focus {
  outline:  none!important;
  box-shadow: 0 0 0 3px var(--purple-30) !important;
  border:  1px var(--purple-80) solid !important;
}

@media (prefers-color-scheme: dark)
{
  :focus {
    box-shadow: 0 0 0 3px var(--purple-50)!important;
  }
}

#connectButton {
  background-color: var(--purple-60)!important;
  color: white;
  fill: white;
}

#connectButton:hover {
  background-color: var(--purple-70)!important;
  color: white;
  fill: white;
}

#connectButton:active {
  background-color: var(--purple-80)!important;
  color: white;
  fill: white;
}

/* checkbox css */
input[type="checkbox"]:not(:disabled) {
  background-color: var(--grey-20)!important;
}

input[type="checkbox"]:not(:disabled):checked {
  background-color: var(--purple-60)!important;
  color: white;
  fill: white;
}

input[type="checkbox"]:not(:disabled):hover {
  /* override firefox's default blue border on hover */
  border-color: var(--purple-70);
  background-color: var(--grey-30)!important;
}

input[type="checkbox"]:not(:disabled):hover:checked {
  background-color: var(--purple-70)!important;
}

input[type="checkbox"]:not(:disabled):active {
  background-color: var(--grey-40)!important;
}

input[type="checkbox"]:not(:disabled):active:checked {
  background-color: var(--purple-80)!important;
}

#progressBackground {
  position:fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 0%;
  height: 7px;
  background-image: linear-gradient(90deg, rgb(20, 218, 221) 0%, rgb(128, 109, 236) 100%);
  border-radius: 0;
}

#connectPageContainer {
  margin-top: 10vh;
  width: 50%;
}

#quickstartCheckbox, #quickstartCheckboxLabel {
  vertical-align: middle;
}

#copyLogButton {
  position: relative;
}

/* mirrors p element spacing */
#copyLogContainer {
  margin:  1em 0;
  height:  1.2em;
  min-height:  1.2em;
}

#copyLogLink {
  position:  relative;
  display:  inline-block;
  color:  var(--in-content-link-color);
}

/* hidden apparently only works if no display is set; who knew? */
#copyLogLink[hidden="true"] {
  display:  none;
}

#copyLogLink:hover {
  cursor:pointer;
}

/* This div:
   - is centered over its parent
   - centers its child
   - has z-index above parent
   - ignores mouse events from parent
*/
#copyLogTooltip {
  pointer-events: none;
  visibility: hidden;
  display:  flex;
  justify-content: center;
  white-space: nowrap;
  width: 0;
  position:  absolute;

  z-index:  1;
  left: 50%;
  bottom:  calc(100% + 0.25em);
}

/* tooltip content (any content could go here) */
#copyLogTooltipText {
  background-color: var(--green-50);
  color: var(--green-90);
  border-radius: 2px;
  padding: 4px;
  line-height: 13px;
  font: 11px sans-serif;
  font-weight: 400;
}

/* our speech bubble tail */
#copyLogTooltipText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -4px;
  border-width: 4px;
  border-style: solid;
  border-color: var(--green-50) transparent transparent transparent;
}

body {
  padding: 0px !important;
  justify-content: space-between;
  background-color: var(--in-content-page-background);
}

.title {
  background-image: url("chrome://browser/content/torconnect/onion.svg");
  -moz-context-properties: fill, fill-opacity;
  fill-opacity: var(--onion-opacity);
  fill: var(--onion-color);
}

.title.error {
  background-image: url("chrome://browser/content/torconnect/onion-slash.svg");
}

